<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nursing.center.mapper.NursingContentMapper">
  <resultMap id="BaseResultMap" type="com.nursing.center.model.NursingContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nursing_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nursing.center.model.NursingContent">
    insert into nursing_content (id, level_id, name, 
      price, description)
    values (#{id,jdbcType=INTEGER}, #{levelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{description,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nursing.center.model.NursingContent">
    update nursing_content
    set level_id = #{levelId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, level_id, name, price, description
    from nursing_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, level_id, name, price, description
    from nursing_content
  </select>

  <select id="getAll" resultMap="BaseResultMap" parameterType="Integer">
    select id, level_id, name, price, description
    from nursing_content
    where level_id = #{id}
  </select>
</mapper>